<configuration>
    <appender name="LOGSTASH" class="com.cwbase.logback.RedisAppender">
        <source>springboot-kafka</source>
        <type>test</type>
        <host>127.0.0.1</host>
        <key>logstash</key>   <!-- 这个Key是Redis List的Key，需要和Logstash读取Redis的Key匹配 -->
        <tags>test</tags>
        <mdc>true</mdc>
        <location>true</location>
        <callerStackIndex>0</callerStackIndex>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH" />
    </root>

</configuration>